body {
    background-image: url('https://as2.ftcdn.net/v2/jpg/02/14/74/09/1000_F_214740976_HGDE1Ouu3gpLjUkZQrtJUqrX5zN1RtqY.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
}

label {
    font-size: 1.5em;
    text-shadow: 2px 2px 5px #000;
}

input {
    font-size: 1.2em;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid white;
}

button {
    font-size: 1.2em;
    padding: 10px 20px;
    background-color: #ff5733;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    text-shadow: 2px 2px 5px #000;
}

button:hover {
    background-color: #ff7844;
}

#attempt-counter {
    font-size: 1.2em;
    margin-top: 20px;
    text-shadow: 2px 2px 5px #000;
}

/* Animación de los globos */
.balloon {
    position: absolute;
    bottom: -100px;
    left: 50%;
    width: 50px;
    height: 70px;
    background-color: red;
    border-radius: 50%;
    box-shadow: inset -10px -10px 20px rgba(0, 0, 0, 0.2);
    animation: rise 4s ease-in-out;
}

@keyframes rise {
    0% {
        transform: translate(-50%, 0);
    }
    100% {
        transform: translate(-50%, -100vh);
    }
}
